debug: true
listen:
    port: 3001
target:
    url: "http://localhost:4000" # this is the base url addressed by the headless Chrome instance, it can be simply your website url
backend:
    url: "http://localhost:4000" # your backend server url
headless:
    waitAfterDOMLoad: 5000
filters:
    userAgent: # .i.e. only whitelist useragents containing the keywords "bot", "slurp", "bing" or "crawler"
        defaultPolicy: blacklist
        exceptions:
            keywords:
                - bot
                - slurp
                - bing
                - crawler
server:
  enable: true